*{
    font-family: 'Courier Prime', monospace;
}
#navbar{
    position: fixed;
    top: 0; 
    width: 100%; 
}
#logo{
    vertical-align: middle;
    height: 32px;
    float: left;
    animation: rotation 10s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}
.list{
    list-style-type: none;
    margin: 0;
    padding: 0 10%;
    overflow: hidden;
    background-color: #333333;
}
li{
    float: right;
}
li a{
    font-size: small;
    text-transform: uppercase;
    display: block;
    color: #ff0099;
    text-align: center;
    padding: 10px 15px;
} 
li a:hover {
    background-color: #ff0099;
    color: #333333;    
}
h1{ 
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    padding: 0 10%;
    font-size: 50px
}
h2{
    font-family: 'Jura', sans-serif;
    font-weight: lighter;
    padding: 0 10%;
    font-size: 25px;
    color: #ff0099;
}
h3{
    font-size: 20px;
    font-weight:lighter;
    padding: 0 10%;
    line-height: 1.5;
}
#dots{
    padding: 10px 10%;
    text-align: center;
}
#techWiki{
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: normal;
    padding: 10px 10%;
    text-align: center;
}
.wikiItems{
    list-style-type: none;
    margin: 0 0;
    padding: 0 10%;
}
.wikiItems li{
    float: left;
}
.wikiItemTitle{
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    font-size: 30px; 
    align-items: center;
}
/*====== Glass effect ======*/
.itemContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}
.itemContainer .card{
    position: relative;
    width: 280px;
    height: 375px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.9);
    border-left: 1px solid rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(0.7px);
}
.itemContainer .card .wItem{
    padding: 10px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}
.itemContainer .card:hover .wItem{
    transform: translateY(0px);
    opacity: 1;
}
.itemContainer .card .wikiItemTitle{
    padding: 1px;
    text-align: center; 
}
